.DS_Store
__pycache__
*.egg-info
.venv
MUJOCO_LOG.TXT
mujoco_menagerie
checkpoints/
logs
3dgs/
rslrl-training-logs/
assets/
mujoco_playground/experimental/madrona_benchmarking/get_data.sh
*.mp4
# background_images/
command.json
.vscode/
